{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ERP Inventory System</title>
  <link rel="stylesheet" href="{% static 'frontend/assets/index-DoJVOM1G.css' %}" />
</head>
<body>
  <div id="app">
    <p style="text-align:center;margin-top:50px;">Loading ERP System...</p>
  </div>

  <script type="module" src="{% static 'frontend/assets/index-BLbdiQWE.js' %}"></script>
</body>
</html>
